{% extends 'base.html.twig' %}

{% block title %}seli.li Searchable Link List{% endblock %}

{% block body %}
  <h2>Searchable Link List</h2>
  You forgot the cool link one more time?<br/><br/>

  <b>Here is the solution:</b> <br/>
  Save your links, categorise them and find them again quickly.
{% endblock %}
