<form 
  data-controller="autosubmit"
  data-turbo-frame="{{ frame | default ('link-list') }}"
>
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-search"></i></span>
    <input type="search" class="form-control" 
      aria-label="{% trans %}Search links{% endtrans %}" 
      autofocus
      name="q" value="{{ q }}" 
      placeholder="{% trans %}Search links{% endtrans %}"
      data-action="autosubmit#debouncedSubmit"
    >
  </div>
</form>