{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block body %}
  <div class='form-md'>
    <h1 class="h3 mb-3 font-weight-normal">{% trans %}Register a new user{% endtrans %}</h1>

    {{ form(registrationForm) }}

  </div>
{% endblock %}
