{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}My links{% endtrans %}
{% endblock %}

{% block body %}
  <div class="row">
    <aside class="col-sm-4 col-md-3 col-xl-2">
      {{ include('link/_categoriesSidebar.html.twig') }}
    </aside>
    <div class="col-sm-8 col-md-9 col-xl-10">
      {{ include('link/_list.html.twig') }}
    </div>
  </div>
{% endblock %}
