{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Link{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Redirect{% endtrans %}</h1>

    {{ include('link/_form.html.twig') }}

    <a href="{{ path('app_link_index') }}" class="btn btn-secondary float-start">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
